.txt {
    color: blue;
    background-color: blanchedalmond;
    border: 1px solid black;
    background-image: url("lin.gif");
    background-repeat: no-repeat;
    padding-left: 20px;
}
.btn {
    color: blue;
    background-color: blanchedalmond;
    border-style: inset;
}
ul{
    list-style-image: url("lin.gif");
}
a:hover {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
}

.an:hover{
    padding-left: 20px;
    color: blue;
    text-transform: none;
    text-decoration: underline;
    opacity: 100;
                -webkit-transition: background-image 2s ease-in-out;
            transition: background-image 2s ease-in-out;
}
.an::before{
    content: "\00a0\00a0\00a0\00a0";
            background-image: url(lin.gif);
            background-repeat: no-repeat;
            opacity: 0;
    
}
.an:hover::before {
    opacity: 1;
            transition: 2s;
}

p[title]::first-letter{
   color: red;
   font-size: 40px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace; 
}